/* عمومی */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* هدر */
header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

h1 {
    margin: 0;
    font-size: 2.5em;
}

p {
    font-size: 1.2em;
}

/* منو */
nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #555;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease; /* انیمیشن */
}

nav a:hover {
    background-color: #777;
    transform: scale(1.1); /* افزایش اندازه لینک هنگام hover */
}

/* فوتر */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* استایل برای فرم‌ها */
form {
    max-width: 600px;
    margin: 30px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

form label {
    font-size: 1.2em;
    margin-bottom: 10px;
    display: block;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

form button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

form button:hover {
    background-color: #45a049;
    transform: scale(1.1); /* افزایش اندازه دکمه هنگام هاور */
}

/* ریسپانسیو */
@media (max-width: 768px) {
    header {
        padding: 10px;
    }

    nav a {
        display: block;
        margin: 5px 0;
    }

    form {
        width: 90%;
        margin: 0 auto;
    }

    .token-button-container {
        margin-top: 20px;
    }
}

/* استایل‌دهی دکمه Get Token */
.token-button-container {
    text-align: center;
    margin-top: 30px; /* فاصله از بالا */
}

.button {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.button:hover {
    background-color: #45a049;
    transform: scale(1.1); /* افزایش اندازه دکمه هنگام هاور */
}
