/* عمومی */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

h1 {
    margin: 0;
    font-size: 2.5em;
}

p {
    font-size: 1.2em;
}

/* لوگو */
.logo {
    width: 150px; /* اندازه عرض لوگو */
    height: auto; /* حفظ نسبت تصویر */
    margin-bottom: 20px; /* فاصله از پایین */
    display: block;
    margin-left: auto;
    margin-right: auto; /* وسط‌چین کردن */
}

/* منو */
nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #555;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

nav a:hover {
    background-color: #777;
    transform: scale(1.1);
}

/* فوتر */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* ریسپانسیو */
@media (max-width: 768px) {
    header {
        padding: 10px;
    }

    nav a {
        display: block;
        margin: 5px 0;
    }

    form {
        width: 90%;
        margin: 0 auto;
    }
}

/* استایل‌دهی دکمه Get Token */
.token-button-container {
    text-align: center;
    margin-top: 30px;
}

.button {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.button:hover {
    background-color: #45a049;
    transform: scale(1.1);
}
